$item-width: 100%;
$background-color-people: color($yellow shade(5%));

#people {
    background-color: $background-color-people;
    .imageheader {
        @mixin backImage '../images/backgrounds/soccer.jpg', 60vh, transparent, $background-color-people, top;

    }
    .headline{
        padding-bottom: 2rem;
        background-color: $color-background;
    }
    .people-cards {
        @media $small {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
        }
        .person-card {
            transition: all 0.3s ease-in;
            transform: scale(0.9);
            opacity: 0.8;
            &:hover, &:focus {
                transform: scale(1);
                opacity: 1;
            }
            background: color($background-color alpha(60%));
            box-shadow: 5px 5px 3px color($yellow alpha(70%));
            border-radius: 20px;
            margin-bottom: 3rem;
            @media $small {
                width: calc($item-width/2 - 1.5rem);
            }
            @media $large {
                width: calc($item-width/3 - 1.5rem);
            }
            .card-info {
                background: color($orange alpha(50%));
                padding: 3% 7%;
                .card-name {
                    font-size: 2rem;
                    line-height: 110%;
                    color:$red;
                }
                .card-title {
                    font-size: 1.4rem;
                    line-height: 100%;
                }
            }
            .card-text {
                font-size:1.6rem;
                font-weight: $font-weight-normal;
                line-height: 130%;
                margin:0;
                padding:7%;
                em {
                    color: color($orange shade(5%));
                    font-size: 2.2rem;
                }
            }
        }
    }/*.people-cards*/
}/*.people*/
