$width: 100%;
#team {
  .person-card {
    img {
      border-radius: 50%;
      margin: 0 auto;
      @media $mobile {

        max-width: 25rem;
      }
      margin-bottom: 2rem;
      margin-top: 4rem;
    }
    .card-info {
      text-align: center;
      line-height: 130%;
      @media $mobile {
        br {
          display: none;
        }
      }
      .card-name {
        color: $black;
        @media $small {font-size: 1.4rem;}
        @media $medium {font-size: 1.6rem;}
        @media $large {font-size: 1.7rem;}
      }
      .card-title {
        font-size: 1.5rem;
        color: $main;
      }
    }
  }
  @media $small {
    .people-cards {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      h3 {
        font-size: 75%;
      }
      .person-card {
        width: calc($width/4 - 1.5rem);
        padding: 0 2rem;
      }

    }
    margin-bottom: 4rem;
  }
}
